<!--OVERLAY RESPONSIVE DU MENU-->
<div class="overlay-menu">
  <img (click)="activeAnimation()" class="croix-overlay" src="./assets/images/croix.png" alt="menu hamburger">
  <nav class="liens-menu-overlay">
    <a routerLink="/">
      <img (click)="isMenuActive = false"  (click)="checkActiveMenu(isMenuActive)" class="logo-site-overlay" src="../assets/images/Logo_au%20petit%20village.png" alt="Logo du site">
    </a>
    <ul>
      <li (click)="isMenuActive = false" (click)="checkActiveMenu(isMenuActive)"><a routerLink="/a-propos">A propos</a></li>
      <li (click)="isMenuActive = false" (click)="checkActiveMenu(isMenuActive)"><a routerLink="/contact">Nous contacter</a></li>
    </ul>
  </nav>
</div>
<!--OVERLAY RESPONSIVE DU MENU-->

<header class="header-main">
  <div>
    <a routerLink="/">
      <img class="logo-site" src="../assets/images/Logo_au%20petit%20village.png" alt="Logo du site">
    </a>
  <h1>Au Petit Village</h1>
  </div>
  <img (click)="activeAnimation()" class="menu" src="./assets/images/menu-burger.png" alt="menu hamburger">

</header>


<main>
  <router-outlet></router-outlet>
</main>


<footer>
  <div class="container-footer">
    <h2>Nos réseaux sociaux</h2>
    <hr>
    <div class="container-footer-img">
      <a target="_blank" href="http://facebook.com/"><img src="./assets/images/facebook.png" alt="facebook"></a>
      <a target="_blank" href="http://twitter.com/"><img src="./assets/images/twitter.png" alt="twitter"></a>
    </div>
  </div>
  <small>
    Copyrights "Au Petit Village" <br>
    Designed by K.ROGNON
  </small>
</footer>
