// OVERLAY
.overlay-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 5000;
  opacity: 0;


  height: 100vh;
  width: 100vw;
  background-color: #151217;
  border-bottom-left-radius: 5px;
  transition: all .3s ease;

  .croix-overlay {
    margin: 10px 0 0 10px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .liens-menu-overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    height: 100%;
    overflow: hidden;

    font-size: 2em;

    .logo-site-overlay {
      width: calc(100vw / 2);
      justify-self: flex-start;
      margin-top: 3rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;


      a {
        text-decoration: none;
        color: white;
      }
    }

  }
}

// OVERLAY END ================+++++++++++++++++====================


.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  height: 4rem;
  width: 100%;

  margin-bottom: 30px;
  padding: 0 20px;

  border-bottom: 2px solid #DA001E;
  background-color: #151217;


  overflow-x: hidden;

  .header-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      color: white;
      font-size: .8em;
    }
    .logo-site {
      width: 40px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;


    .menu-hamburger-croix {
      display: none;
    }

    img {
      width: 25px;
    }
    div {
      display: flex;
      flex-direction: column;


      position: absolute;
      top: 4rem;
      right: 0;

      padding: 15px;

      visibility: hidden;
      background-color: black;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

}


// FOOTER

footer {
  margin-top: 10%;
  padding: 10%;


  background-color: #151217;
  color: white;
  border-top: 2px solid #DA001E;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  small {
    font-size: 0.6em;
    text-align: center;
  }

  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1rem;



    hr {
      background-color: #DA001E;
      width: 50%;
      height: 2px;
      border: none;
    }


    .container-footer-img {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}

// Media queries

// Tablettes
@media screen and (min-width: 480px){

  .header-main {
    height: 6rem !important;


    div {
      h1 {
        font-size: 1.4em;
      }
      .logo-site {
        width: 50px;
      }
    }
  }

}

// PC
@media screen and (min-width: 1024px) {



}

