

.header-main {
  display: flex;
  align-items: center;
  height: 3rem;

  nav {
    height: 100%;
    width: 100vw;
    position: relative;

    display: flex;
    justify-content: center;

    .croix {
      visibility: hidden;

    }

    .menu {
    }

    img {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1001;
    }


    .active {
      height: 100vh;

      flex-direction: column;


    }


    .dropper {
      width: 100vw;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;

      background-color: #151217;
      color: white;
      z-index: 1000;


      transition: height .3s ease-in-out;


      .lien {
        position: relative;
        top: -50px;

        a {
          color: inherit;
        }
      }
    }
  }
}


