<section class="section-home">

  <h1>Notre entreprise</h1>

  <article class="article-home">

    <img class="image-presentation" src="./assets/images/figurines.jpg" alt="figurines astérix et obélix">

    <p class="para-presentation">
      Bienvenue "Au Petit Village" ! Nous sommes une entreprise spécialisée dans la vente de figurines inspirées d'Astérix et Obélix, toutes fabriquées à la main.<br><br>

      "Au Petit Village", nous nous sommes plongés dans l'univers captivant d'Astérix et Obélix pour créer des figurines uniques qui célèbrent l'esprit et l'aventure de ces héros gaulois bien-aimés.<br><br>

      Chaque figurine est méticuleusement conçue et sculptée à la main par nos artisans passionnés. <br><br>

      "Au Petit Village" - L'endroit où les légendes d'Astérix et Obélix prennent vie !
    </p>

  </article>

  <hr class="sep" >

  <article class="article-home">
    <h2>Nos produits</h2>

    <div *ngFor="">

    </div>
  </article>

</section>
