<section class="section-home">

  <article class="article-home">

    <img class="image-presentation" src="./assets/images/figurines.jpg" alt="figurines astérix et obélix">

    <p class="para-presentation">
      Bienvenue "Au Petit Village" ! Nous sommes une entreprise spécialisée dans la vente de figurines inspirées d'Astérix et Obélix, toutes fabriquées à la main.<br><br>

      "Au Petit Village", nous nous sommes plongés dans l'univers captivant d'Astérix et Obélix pour créer des figurines uniques qui célèbrent l'esprit et l'aventure de ces héros gaulois bien-aimés.<br><br>

      Chaque figurine est méticuleusement conçue et sculptée à la main par nos artisans passionnés. Nous accordons une attention minutieuse aux détails pour capturer l'essence même des personnages emblématiques d'Astérix et Obélix. Que ce soit la malice d'Astérix, la force brute d'Obélix ou la vivacité d'Idéfix, nos figurines reflètent leur personnalité et leur charme distinctifs.<br><br>

      Nous proposons une large gamme de figurines qui représentent les scènes les plus mémorables des aventures d'Astérix et Obélix. Que vous souhaitiez revivre la célèbre course de chars, les batailles hilarantes ou les festivités gauloises, nos figurines vous transportent au cœur de l'action.<br><br>

      "Au Petit Village", nous nous engageons à offrir des produits de haute qualité. Chaque figurine est fabriquée à partir de matériaux durables, garantissant ainsi une finition exceptionnelle et une durabilité à long terme.<br><br>

      "Au Petit Village" - L'endroit où les légendes d'Astérix et Obélix prennent vie !
    </p>

  </article>

</section>
