<section class="section-home">

  <app-msg-ajout></app-msg-ajout>

  <article class="article-home">


    <h1>Notre entreprise</h1>
    <div class="courte-pres-home">
      <img class="image-presentation" src="./assets/images/figurines.jpg" alt="figurines astérix et obélix">

      <p class="para-presentation">
        Bienvenue "Au Petit Village" ! Nous sommes une entreprise spécialisée dans la vente de figurines inspirées d'Astérix et Obélix, toutes fabriquées à la main.<br><br>

        "Au Petit Village", nous nous sommes plongés dans l'univers captivant d'Astérix et Obélix pour créer des figurines uniques qui célèbrent l'esprit et l'aventure de ces héros gaulois bien-aimés.<br><br>

        Chaque figurine est méticuleusement conçue et sculptée à la main par nos artisans passionnés. <br><br>

        "Au Petit Village" - L'endroit où les légendes d'Astérix et Obélix prennent vie !
      </p>
    </div>


  </article>
  <article class="article-home">


    <div class="firstdiv-article-home">

      <h2>Nos produits</h2>
      <input [(ngModel)]="searchText" (input)="filterProduits()" placeholder="Rechercher un produit">

      <select [(ngModel)]='selectedSortOption' >
        <option selected value="prix-croissant">Prix croissant</option>
        <option value="prix-decroissant">Prix décroissant</option>
      </select>
      <p *ngIf="responseText === 'Aucun produit correspondant' && filteredProduits.length === 0">{{responseText}}</p>
    </div>


    <div class="container-produit">
      <div class="produit" *ngFor="let produit of filteredProduits | triProduits:selectedSortOption">

        <div class="lien-produit">
          <img src={{produit.product_img}} alt="Figurine de {{produit.product_name}}">
          <h3>{{ produit.product_name }}</h3>
          <p>{{produit.product_desc}}</p>
          <p>Prix: <strong>{{produit.product_price}}€</strong></p>
          <div class="conteneur-bouton">
            <button class="bouton_detail bouton" (click)="ajouterAuPanier(produit.id)" (click)="afficherMSGajout = !afficherMSGajout">Ajouter au panier</button>
            <a [routerLink]="['/product', produit.id]"><button class="bouton_panier bouton">Voir détail</button></a>
          </div>
        </div>

      </div>
    </div>
  </article>

</section>
