@font-face {
  font-family: Comfortaa;
  src: url("./assets/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("./assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}
