@font-face {
  font-family: Comfortaa;
  src: url("./assets/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: Bubbleboddy;
  src: url("./assets/fonts/bubbleboddyneue-regular trial.ttf");
}
@font-face {
  font-family: Bubbleboddy-Light;
  src: url("./assets/fonts/BubbleboddyNeue-Light Trial.ttf");
}
@font-face {
  font-family: Bubbleboddy-Bold;
  src: url("./assets/fonts/BubbleboddyNeue-Bold Trial.ttf");
}
