/* You can add global styles to this file, and also import other style files */
@import "fonts.scss";

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* li {
  list-style: none;
}

body {
  background-color: #F9D0A3;

  * {
    font-family: OpenSans-Light;
    font-weight: 300;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa";
  letter-spacing: -1px;
}


.sep {
  height: 2px;
  width: 80%;
  border: none;
  background-color: black;
}
