<section class="section-contact">

  <article class="article-contact">

    <div class="header-contact">
      <h1>Contactez-nous</h1>
      <p>
        Rentrez en contact avec nous en remplissant ce formulaire
      </p>
    </div>

    <div class="formulaire">
      <form>
        <input type="text" placeholder="Prénom" required>
        <input type="text" placeholder="Nom" required>
        <input type="tel" placeholder="Numéro de téléphone">
        <input type="email" placeholder="Adresse e-mail" required>
        <textarea cols="30" rows="10" placeholder="Votre message" required></textarea>
        <button type="button">Envoyer</button>
      </form>
    </div>

  </article>
</section>
