<section>

  <article>
    <img src={{product.product_img}} alt={{product.product_name}}>
    <h2>Figurine {{product.product_name}}</h2>
    <p>Nombre de figurines restantes : {{product.stock}}</p>
    <p><strong>Description:</strong><br> {{product.product_details}}</p>
    <div>
      <p><strong>Caractéristiques techniques: </strong><br></p>
      <ul>
        <li><span>Taille du produit:</span> {{product.taille}}</li>
        <li><span>Matière:</span> {{product.materiaux}}</li>
      </ul>
    </div>

  </article>

</section>
