


section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;

    gap: 2rem;

    background-color: white;
    width: 90%;
    padding: 20px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
    span {
      font-weight: bold;
    }

    img {
      width: 90%;
    }
    .bouton {
      padding: 10px 20px;
      background-color: #FDD90B;
      color: black;
      border: none;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      width: 100%;

      margin-top: 10px;
    }

    .bouton:hover {
      background-color: #ffcc00;
    }

    .bouton:focus {
      outline: none;
      box-shadow: 0 0 0 2px #ffcc00;
    }
  }

}


// MEDIA QUERIES

@media screen and (min-width: 1024px) {

  .article-detail {

    flex-direction: row !important;
    align-items: stretch !important;
    justify-content: space-between !important;

    max-width: 800px !important;

    .details {
      flex-basis: 45% !important;
    }

    img {
      width: 364px !important;
      height: 463px !important;
      object-fit: fill !important;
    }

  }
}
