


section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;

    gap: 2rem;

    background-color: white;
    width: 90%;
    padding: 20px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
    span {
      font-weight: bold;
    }

    img {
      width: 90%;
    }

  }

}


// MEDIA QUERIES

@media screen and (min-width: 1024px) {

  .section-detail {
    height: 80vh !important;
  }

  .article-detail {

    flex-direction: row !important;
    align-items: stretch !important;
    justify-content: space-between !important;

    max-width: 800px !important;

    .details {
      flex-basis: 45% !important;
    }

    img {
      width: 364px !important;
      height: 463px !important;
      object-fit: fill !important;
    }

  }
}
