

.section-panier {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;

  .article-panier {
    background-color: white;
    width: 90%;
    height: 90vh;

    display: flex;
    flex-direction: column;



    .conteneur-items {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;

      height: 80vh;

      .conteneur-card {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
      }

      .titre-panier {

        padding: 15px;
        background-color: #151217;
        border-bottom: 2px solid #DA001E;
        color: white;
      }

      .infos-paiement {
        background-color: #151217;
        border-top: 2px solid #DA001E;
        color: white;
        p {
          padding: 10px;
        }
        .gras {
          font-weight: bold;
        }

        .bouton-panier {
          display: flex;
          button:first-child {
            padding: 10px 10px;
          }
        }
      }
      .card-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        padding: 10px;

        .conteneur-infos {
          display: flex;
          align-items: center;
        }

        .croix_blanche {
          background-color: red;;
          width: 16px;
          padding: 5px;
          border-radius: 50%;
          align-self: flex-start;

          &:hover {
            cursor: pointer;
          }
        }



        .desc_produit {
          font-size: .8em;
        }

        img {
          width: 30px;
        }
      }
    }
  }

  .article-panier-vide {

    .div-panier-vide {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        padding: 20px;
      }
    }
  }
}


// MEDIA QUERIES ================================

@media screen and (min-width: 480px) {
  .section-panier {

    .article-panier {
      width: 50%;
      .conteneur-card {

        .card-item {
          justify-content: space-between;

          .croix_blanche {
            align-self: flex-start;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .section-panier {

    .article-panier {
      max-width: 60%;
    }
  }
}
